<footer>
  <div>
    <ul>
      <li><Link to="/">Home</Link></li>
      <li><Link to="/about">Skills</Link></li>
      <li><Link to="/portfolio">Portfolio</Link></li>
      <li><a href="http://melindabernrdo.github.io">Blog</a></li>
      <li><Link to="/contact">Contact</Link></li>
    </ul>
  </div>
  <div class="social-media">
    <ul>
      <li>
        <a href="https://twitter.com/melindabernrdo">
          <img src="./client/assets/social-media/twitter.png" alt="Twitter icon"/>
        </a>
      </li>
      <li>
        <a href="https://github.com/melindabernrdo">
          <img src="./client/assets/social-media/github.png" alt="github icon"/>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/melindabernardo">
          <img src="./client/assets/social-media/linkedin.png" alt="linkedin icon"/>
        </a>
      </li>
    </ul>
  </div>
    <span>Copyright 2016 Melinda Bernardo - All Rights Reserved</span>
  </div>
</footer>
    
